* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    overflow: hidden;
}

.item img,
.gallery img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
